
:root {
    --light-color: #fff;
    --light-color-alt: #afb6cd;
    --body-background-color: #ffffff;
    --header-background-color: #2269f9;
    --hover-light-color: var(--light-color);
    --hover-dark-color: var(--primary-background-color);
    --font-family: Decalotype-Bold, sans-serif;
    --font-size-xsm: 1.2rem;
    --font-size-sm: 1.6rem;
    --font-size-md: 2.4rem;
    --font-size-lg: 3rem;
    --font-size-xl: 4rem;
    --gap: 2rem;
}

@font-face {
    font-family: Decalotype-Bold;
    src: url(./fonts/Decalotype-Bold.ttf);
}

@font-face {
    font-family: Decalotype-Light;
    src: url(./fonts/Decalotype-light.ttf);
}

/* BASE */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: var(--font-family);
    font-size: var(--font-size-sm);
    color: black;
    background-color: var(--body-background-color);
    letter-spacing: 1px;
    transition: background-color .25s,color .25s;
}

a{
    text-decoration: none;
    color: var(--light-color);
}

ul{
    list-style: none;
}

/* Posts */

.post{
    margin: 50px;
    position: relative;
    top: 75px;
    padding: 20px;
    border: .5px solid grey;
    max-width: 20cm;
    margin-left: auto;
    margin-right: auto;
}

.images{
    text-align: center;
}

img{
    align-items: center;
    max-width: 45%;
    max-height: auto;
}

time{
    font-size: var(--font-size-xsm);
    font-weight: 400;
    font-family: var(--font-family);
    color: black;
    margin: 2mm;
    font-family: Decalotype-Light;
}

.postTitle{
    margin: 2mm;
    font-size: var(--font-size-xl);
    font-weight: 1;
    font-family: Decalotype-Regular;
    color: black;
}

.postBody, .rating{
    margin-left: 1cm;
    margin-right: 1cm;
    text-align: center;
    font-size: var(--font-size-sm);
    font-weight: 400;
    font-family: var(--font-family);
    color: black;
    font-family: Decalotype-Regular;
}

.postBody{
    margin-top: 3mm;
}

/* Author Pages */

.authorImage{
    top: 15%;
    width: 400px;
    height: 400px;
    margin: 3cm;
    object-fit: cover;
}

.authorBio{
    position: absolute;
    top: 25%;
    left: 50%;
    right: 0;
    width: 500px;
    height: 100px;
}

#authorLine{
    height: 2px;
    background-color: black;
    width: 1cm;
    margin: 6px;
}

/* HEADER */
.header{
    background-color: var(--header-background-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    padding: 2rem;
    font-size: large;
    height: 2cm;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 1rem;
}

.logo{
    font-size: var(--font-size-md);
    color: white;
    font-family: Decalotype-Bold;
}

.list-link.current{
    color: rgb(255, 236, 131);
}

.list-link:hover{
    color: rgb(255, 236, 131);
}

#dropdown {
    position: relative;
    display: inline-block;
}

.authorz-dropdown {
    display: none;
    position: absolute;
    background-color: var(--header-background-color);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.authorz-dropdown a{
    color: var(--light-color);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

#dropdown a:hover {
    color: rgb(255, 236, 131);
}

#dropdown:hover .authorz-dropdown {display: block;}

#authorz-current{
    color: rgb(255, 236, 131);
}

.list{
    display: flex;
    align-items: center;
    gap: var(--gap)
}

.menu > .list{
    flex-direction: row;
}

.list-link.hover{
    color: var(--light-color)
}

#msg{
    margin: auto;
    line-height: 250mm;
    height: 250mm;
    width: 350px;
    text-align: center;
    font-size: var(--font-size-md);
    font-weight: 400;
    font-family: var(--font-family);
    color: var(--light-color-alt);
}
